In [265]:
import pandas as pd
import glob
import os
import re
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [266]:
input_file = r'index_data'
output_file = r'result.csv'

In [267]:
allFile_list = glob.glob(os.path.join(input_file,'index_*'))
print(allFile_list)

['index_data/index_kosdaq.csv', 'index_data/index_wti.csv', 'index_data/index_snp.csv', 'index_data/index_csi.csv', 'index_data/index_treasury.csv', 'index_data/index_kospi.csv', 'index_data/index_fx.csv']

In [268]:
all_data = []
index_names = ['kosdaq','wti','snp','csi','treasury','kospi','fx']
for i in range(len(allFile_list)):
    df = pd.read_csv(allFile_list[i],engine='python',encoding='utf-8')
    df = df[['날짜','종가','오픈','고가','저가','변동 %']]
    df.columns = ['date','{name}_end'.format(name=index_names[i]),'{name}_start'.format(name=index_names[i]),
                 '{name}_high'.format(name=index_names[i]),'{name}_low'.format(name=index_names[i]),
                 '{name}_change'.format(name=index_names[i])]
    
    all_data.append(df)

In [269]:
df = pd.merge(all_data[0],all_data[1],on='date')
for i in range(2,len(all_data)):
    df = pd.merge(df,all_data[i],on='date')

In [270]:
df = df.sort_values(by='date')
df.reset_index(drop=True, inplace=True)

In [271]:
df = df[479:]
df.reset_index(drop=True, inplace=True)

In [288]:
change_rate = df[['kospi_change','kosdaq_change','snp_change','csi_change','wti_change','fx_change','treasury_change']]

In [289]:
change_rate

,kospi_change,kosdaq_change,snp_change,csi_change,wti_change,fx_change,treasury_change
0,-4.06%,-3.72%,-3.92%,1.13%,-10.30%,2.43%,0.20%
1,0.99%,-0.56%,-2.27%,-1.04%,3.74%,-1.19%,-0.39%
2,3.31%,3.49%,2.76%,6.68%,8.96%,-0.04%,-0.98%
3,0.03%,0.63%,-3.18%,0.87%,-3.90%,1.08%,0.00%
4,-0.30%,0.83%,0.26%,-0.80%,4.38%,-1.40%,0.20%
...,...,...,...,...,...,...,...
1107,0.75%,0.25%,0.54%,0.28%,-0.41%,-0.12%,-1.10%
1108,0.13%,0.30%,0.34%,0.16%,0.31%,-0.03%,0.00%
1109,-0.16%,-0.45%,0.41%,-1.73%,0.33%,-0.09%,-0.28%
1110,0.06%,1.62%,0.00%,1.68%,0.77%,-0.43%,-0.84%
1111,0.35%,0.65%,-0.10%,-0.17%,-1.03%,0.10%,0.85%

In [290]:
# #범주형 자료로 바꾸기
# for j in change_rate:
#     for i in range(len(change_rate['kospi_change'])):
#         if len(change_rate[j][i]) == 6:
#             change_rate[j][i] = 0
#         else:
#             change_rate[j][i] = 1

# change_rate

In [291]:
for i in change_rate:
    change_rate[i] = list(map(lambda x: x[:-1], change_rate[i].values))
    change_rate[i] = change_rate[i].astype(float)

In [292]:
# #HeatMap
# plt.subplots(figsize=(15,15))

# ax = sns.heatmap(data=change_rate.corr(),annot=True,fmt='.2f')
# buttom,top = ax.get_ylim()
# ax.set_ylim(buttom+0.5,top-0.5)

In [293]:
change_rate.corr()

,kospi_change,kosdaq_change,snp_change,csi_change,wti_change,fx_change,treasury_change
kospi_change,1.000000,0.676441,0.259243,0.367623,0.221451,-0.529663,0.072916
kosdaq_change,0.676441,1.000000,0.179192,0.271339,0.159885,-0.403164,0.030619
snp_change,0.259243,0.179192,1.000000,0.148507,0.505772,-0.361237,-0.006563
csi_change,0.367623,0.271339,0.148507,1.000000,0.178617,-0.301212,0.023907
wti_change,0.221451,0.159885,0.505772,0.178617,1.000000,-0.298840,0.008431
fx_change,-0.529663,-0.403164,-0.361237,-0.301212,-0.298840,1.000000,-0.003169
treasury_change,0.072916,0.030619,-0.006563,0.023907,0.008431,-0.003169,1.000000

In [294]:
kospi_change = change_rate['kospi_change'][1:]
kospi_change.reset_index(drop=True, inplace=True)
kospi_change

0       0.99
1       3.31
2       0.03
3      -0.30
4       1.57
        ...
1106    0.75
1107    0.13
1108   -0.16
1109    0.06
1110    0.35
Name: kospi_change, Length: 1111, dtype: float64

In [295]:
kosdaq_change = change_rate['kosdaq_change'][1:]
kosdaq_change.reset_index(drop=True, inplace=True)
kosdaq_change

0      -0.56
1       3.49
2       0.63
3       0.83
4       3.71
        ...
1106    0.25
1107    0.30
1108   -0.45
1109    1.62
1110    0.65
Name: kosdaq_change, Length: 1111, dtype: float64

In [296]:
snp_change = change_rate['snp_change'][:1111]
snp_change.reset_index(drop=True, inplace=True)
snp_change

0      -3.92
1      -2.27
2       2.76
3      -3.18
4       0.26
        ...
1106    0.24
1107    0.54
1108    0.34
1109    0.41
1110    0.00
Name: snp_change, Length: 1111, dtype: float64

In [297]:
csi_change = change_rate['csi_change'][1:]
csi_change.reset_index(drop=True, inplace=True)
csi_change

0      -1.04
1       6.68
2       0.87
3      -0.80
4      -3.68
        ...
1106    0.28
1107    0.16
1108   -1.73
1109    1.68
1110   -0.17
Name: csi_change, Length: 1111, dtype: float64

In [298]:
new = pd.concat([kospi_change,kosdaq_change,snp_change,csi_change],axis=1)
new.corr()

               kospi_change  kosdaq_change  snp_change  csi_change
kospi_change       1.000000       0.673718    0.395985    0.371729
kosdaq_change      0.673718       1.000000    0.283667    0.274313
snp_change         0.395985       0.283667    1.000000    0.135514
csi_change         0.371729       0.274313    0.135514    1.000000

In [299]:
all_data = []
index_names = ['kosdaq','wti','snp','csi','treasury','kospi','fx']
for i in range(len(allFile_list)):
    df = pd.read_csv(allFile_list[i],engine='python',encoding='utf-8')
    df = df[['날짜','종가','오픈','고가','저가','변동 %']]
    df.columns = ['date','{name}_end'.format(name=index_names[i]),'{name}_start'.format(name=index_names[i]),
                 '{name}_high'.format(name=index_names[i]),'{name}_low'.format(name=index_names[i]),
                 '{name}_change'.format(name=index_names[i])]
    
    all_data.append(df)

In [300]:
df = pd.merge(all_data[0],all_data[1],on='date')
for i in range(2,len(all_data)):
    df = pd.merge(df,all_data[i],on='date')

In [301]:
df = df.sort_values(by='date')
df.reset_index(drop=True, inplace=True)

In [306]:
df = df[599:]
df.reset_index(drop=True, inplace=True)

In [307]:
change_rate = df[['kospi_change','kosdaq_change','snp_change','csi_change','wti_change','fx_change','treasury_change']]

In [308]:
change_rate

,kospi_change,kosdaq_change,snp_change,csi_change,wti_change,fx_change,treasury_change
0,2.15%,0.31%,-2.28%,0.47%,-2.73%,-0.16%,-0.91%
1,-0.65%,0.28%,-0.23%,1.66%,0.00%,-0.22%,-0.74%
2,0.04%,-0.15%,0.75%,5.57%,-0.13%,0.06%,-1.12%
3,-0.38%,0.36%,1.22%,0.83%,0.09%,-0.68%,0.00%
4,0.80%,0.24%,1.08%,2.15%,4.53%,-0.76%,0.00%
...,...,...,...,...,...,...,...
987,0.75%,0.25%,0.54%,0.28%,-0.41%,-0.12%,-1.10%
988,0.13%,0.30%,0.34%,0.16%,0.31%,-0.03%,0.00%
989,-0.16%,-0.45%,0.41%,-1.73%,0.33%,-0.09%,-0.28%
990,0.06%,1.62%,0.00%,1.68%,0.77%,-0.43%,-0.84%
991,0.35%,0.65%,-0.10%,-0.17%,-1.03%,0.10%,0.85%

In [309]:
for i in change_rate:
    change_rate[i] = list(map(lambda x: x[:-1], change_rate[i].values))
    change_rate[i] = change_rate[i].astype(float)

In [310]:
change_rate.corr()

,kospi_change,kosdaq_change,snp_change,csi_change,wti_change,fx_change,treasury_change
kospi_change,1.000000,0.667791,0.231712,0.367148,0.214482,-0.512440,0.070517
kosdaq_change,0.667791,1.000000,0.165152,0.283290,0.157262,-0.410174,0.023235
snp_change,0.231712,0.165152,1.000000,0.116389,0.491373,-0.350395,-0.004819
csi_change,0.367148,0.283290,0.116389,1.000000,0.170635,-0.309563,0.028878
wti_change,0.214482,0.157262,0.491373,0.170635,1.000000,-0.295121,0.012268
fx_change,-0.512440,-0.410174,-0.350395,-0.309563,-0.295121,1.000000,0.006739
treasury_change,0.070517,0.023235,-0.004819,0.028878,0.012268,0.006739,1.000000

In [311]:
kospi_change = change_rate['kospi_change'][1:]
kospi_change.reset_index(drop=True, inplace=True)
kospi_change

0     -0.65
1      0.04
2     -0.38
3      0.80
4     -0.62
       ...
986    0.75
987    0.13
988   -0.16
989    0.06
990    0.35
Name: kospi_change, Length: 991, dtype: float64

In [312]:
kosdaq_change = change_rate['kosdaq_change'][1:]
kosdaq_change.reset_index(drop=True, inplace=True)
kosdaq_change

0      0.28
1     -0.15
2      0.36
3      0.24
4     -1.26
       ...
986    0.25
987    0.30
988   -0.45
989    1.62
990    0.65
Name: kosdaq_change, Length: 991, dtype: float64

In [313]:
csi_change = change_rate['csi_change'][1:]
csi_change.reset_index(drop=True, inplace=True)
csi_change

0      1.66
1      5.57
2      0.83
3      2.15
4      0.75
       ...
986    0.28
987    0.16
988   -1.73
989    1.68
990   -0.17
Name: csi_change, Length: 991, dtype: float64

In [314]:
snp_change = change_rate['snp_change'][:991]
snp_change.reset_index(drop=True, inplace=True)
snp_change

0     -2.28
1     -0.23
2      0.75
3      1.22
4      1.08
       ...
986    0.24
987    0.54
988    0.34
989    0.41
990    0.00
Name: snp_change, Length: 991, dtype: float64

In [315]:
new = pd.concat([kospi_change,kosdaq_change,snp_change,csi_change],axis=1)
new.corr()

               kospi_change  kosdaq_change  snp_change  csi_change
kospi_change       1.000000       0.668423    0.428922    0.367144
kosdaq_change      0.668423       1.000000    0.313850    0.283231
snp_change         0.428922       0.313850    1.000000    0.166280
csi_change         0.367144       0.283231    0.166280    1.000000